:root{
	--bs-border-color:#DFE5EF;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a{color: var(--black-color);}

.text-line-gray{color: #D5D5D7}
.opacity-40{opacity: 0.4}

.mb-12{margin-bottom: 12px;}
.mb-15{margin-bottom: 15px;}
.mb-24{margin-bottom: 24px;}
.gap-05{gap: 5px;}

.gap-10{gap: 10px;}
.gap-15{gap: 15px;}

.p-10{padding: 10px}
.p-15{padding: 15px}
.bg-gray{background-color: #F8F8FA !important}
.w-140{width: 140px}

.btn{
	font-weight: 600;font-size: 13px;line-height: 20px;padding: 0 12px;border-radius: 4px;
	height: 40px;display: flex;align-items: center;justify-content: center;
	&.btn-outline-secondary{border-color: #D5D5D7 !important;color: #69696B !important;background-color: white;}
	&.btn-primary.light{background-color: rgba(112, 92, 255, 0.15) !important;border-color: transparent !important;color: var(--main-color) !important;}
	&.btn-sm{padding: 6px 11px;font-size: 13px;line-height: 18px;height: 32px;}
}
.form-control{border-color: #DFE5EF !important;box-shadow: none !important;border-radius: 5px;font-size: 13px;line-height: 20px;height: 40px;padding: 10px 12px;transition: none;}
.form-select{border-color: #DFE5EF !important;box-shadow: none !important;font-size: 14px;line-height: 20px;height: 40px;color: var(--black-color);
	&:invalid { color: #D5D5D7;}
	option{color: var(--black-color);}
}
.input-group{
	.input-group-text{border: 1px solid #DFE5EF;border-color: #DFE5EF !important;
		&:last-child{border-left: none;border-radius: 0 5px 5px 0;}
	}
}
.card{
	--bs-card-border-color:#DFE5EF;
	--bs-card-inner-border-radius:4px;
	.card-header{padding: 15px;background-color: white;
		.title{font-size: 14px;line-height: 20px;font-weight: 600;color: var(--black-color);}
	}
	.card-body{padding: 15px;
		&:not(:last-child){border-bottom: 1px solid #DFE5EF;}
	}
	.info-list{display: flex;flex-direction: column;gap: 15px;font-size: 13px;line-height: 20px;margin-bottom: 0;
		li{display: flex;align-items: center;column-gap: 8px;
			.label{font-weight: 600;font-size: 14px;line-height: 20px;min-height: 40px;display: inline-block;display: flex; align-items: center;
				min-width: 140px;flex-shrink: 0;
			}
		}
	}
	.table.table-bordered tbody td{line-height: 17px;}
}

.badge{border-radius: 4px;padding: 5px 10px;font-size: 12px;line-height: 18px;font-weight: 400;
	&.text-bg-secondary{background-color: #DFE5EF !important;color: #69696B !important}
	&.text-bg-white{border:1px solid #69696B !important;color: var(--black-color) !important;padding: 4px 9px;}
	&.text-bg-primary{background-color: rgba(112, 92, 255, 0.15) !important;color: var(--main-color) !important;}
	&.text-bg-light{background-color: #F8F8FA !important;color: #69696B !important}
	&.text-bg-warning{background-color: #FFB53D26 !important;color: #FF794D !important}
	&.text-bg-info{background-color: rgba(93, 155, 252, 0.25) !important;color: #406ADC !important}
}

.auth-wp{min-height: 100vh;
	>.left{background-color: var(--main-color);}
}
.admin-sidebar{min-height: 100vh;padding-left: 20px;padding-right:20px;background-color: var(--black-color);
	box-shadow: 0px 0px 2px 0px #919EAB33,0px 12px 24px -4px #919EAB1F;
	&.sidebar-collapsed{padding-left: 24px;padding-right: 24px;
		>div.position-sticky{width: 48px;}
		span{display: none;}
	}
	>div.position-sticky{width: 210px;transition: 0.2s all;}
	ul{
		li{margin-bottom: 10px}
		a{display: flex;align-items: center;column-gap: 8px;padding: 10px 12px;border-radius: 5px;
			&.active{background-color: rgba(255, 255, 255, 0.15)}
			span{color: white;font-size: 14px;}
		}
	}
}
.admin-topbar{padding: 20px;}
.admin-primary{
	background: #F8F8FA;flex-grow: 1;min-width: 0;width: 0;overflow-x: auto;
	.main-content-wrapper{min-width: 1200px;width: 100%;}
}
.admin-section{padding-left: 20px;padding-right: 20px;}
.admin-page-action{margin-bottom: 12px;
	>strong{color: #333B54}
}
.admin-form-page{display: flex;flex-direction: column;gap: 12px;
	.form-section{display: flex;flex-direction: column;row-gap: 15px;
		.row-section{display: flex;column-gap: 5px;min-height: 42px;
			.col-label{display: flex;align-items: center;flex-shrink: 0;min-width: 140px;column-gap: 2px;
				.label{font-weight: 600;font-size: 14px;line-height: 20px;}
			}
			.col-input{display: flex;column-gap: 20px;align-items: center;
				.form-check{min-width: 100px;
					.form-check-label{font-size: 14px;line-height: 20px;font-weight: 400}
				}
			}
		}
	}
}
.input-group-text{background-color: white;}
.count-box{
	&.invalid{border-color: #FF383C !important;}
	&.textarea-group{width: 100%;border: 1px solid #DFE5EF;border-radius: 5px;
		&._120{
			.form-control{min-height: 88px}
		}
		textarea{border: none !important;resize: none;}
		.input-group-text{border: none;justify-content: end;padding-top: 8px;padding-bottom: 12px;}
	}
	&.invalid{
		.count-result,.input-group-text{color: #FF383C;}
		input,.input-group-text{border-color: #FF383C !important;}
	}
	.input-group-text{font-size: 14px;line-height: 20px;}
	.count-result{color: var(--main-color);}
}
.date-input-wrapper {position: relative;cursor: pointer;
	&.invalid{
		.text-label{border-color: #FF383C !important;}
	}
  .text-label{display: flex;align-items: center; pointer-events: none; font-size: 12px;height: 40px;width: 165px;line-height: 20px;
  	border-radius: 5px;padding-left: 12px;
      background: white url("../images/icons/calendar.svg") no-repeat center right 12px;
      border: 1px solid #DFE5EF;
  }
  input[type="date"] {position: absolute;left: 0;top: 0; width: 100%; height: 100%; opacity: 0;cursor: pointer;}
}

.table-primary{
	--bs-table-bg: rgba(112, 92, 255, 0.1);
	--bs-table-border-color:#DFE5EF;
	--bs-table-color: var(--black-color)
}
.table{
	--bs-table-color:var(--black-color);
	--bs-table-border-color:#DFE5EF;
	--bs-table-striped-bg:#F8F8FA;
	--bs-table-striped-color:var(--black-color);
	&.table-borderless{vertical-align: middle;
		thead{
			th{font-weight: 600;font-size: 14px;line-height: 20px;background-color: #F8F8FA;padding: 5px 10px;border-bottom: 5px solid transparent;}
		}
	}
	&.table-bordered{
		thead{
			th{font-weight: 600;font-size: 12px;line-height: 18px;padding: 10px 15px;}
		}
		tbody{
			td{padding: 10px 15px;vertical-align: middle;}
		}
		>:not(caption)>*{
			>th:not(:first-child),>td:not(:first-child){border: none;}
			>th:last-child,>td:last-child{border-right: 1px solid #DFE5EF;}
		}
	}

	&.custom-table{border: 1px solid #DFE5EF;
		thead{
			th{font-weight: 600;font-size: 12px;line-height: 18px;padding: 9px 10px 10px}
		}
		td{font-size: 12px;line-height: 18px;padding: 9px 10px 10px;}
	}

	tbody{
		td{font-size: 14px;line-height: 20px;padding:11px 10px}
	}
	.campaign-item{display: flex;column-gap: 15px;
		img{flex-shrink: 0;height: 45px;width: 45px;object-fit: cover;border: 2px solid  #F8F8FA;border-radius: 6px;}
	}
	.col-action{text-align: center;width:55px;padding-left: 5px !important;padding-right: 5px !important;
		&:last-child{padding-right: 12px !important;}
	}
}

.form-check.form-switch{
	margin-top: 0;margin-bottom: 0;
	.form-check-input{width: 45px;height: 24px;box-shadow: none;background-color: #D5D5D7;border-color: #D5D5D7;margin-top: 0;margin-bottom: 0;
		background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_666_6009)"><circle cx="11.2" cy="13.2" r="9.2" fill="white"/></g><defs><filter id="filter0_d_666_6009" x="0" y="0" width="26.3999" height="26.3999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="2"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_666_6009"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_666_6009" result="shape"/></filter></defs></svg>');
		background-size: 27px;
		&:checked{background-color: var(--main-color) !important;border-color: var(--main-color) !important;background-position: right -5px center;}
	}
}

.upload-single-file-wp{display: flex;column-gap: 5px;align-items: end;overflow: hidden;
	.img-preview{flex-shrink: 0;width: 120px;height: 120px;background-color: #F8F8FA;border-radius: 5px;display: flex;align-items: center;justify-content: center;
		color: #D5D5D7;font-size: 14px;line-height: 20px;position: relative;
		img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
	}
	.img-action{font-size: 12px;line-height: 18px;padding: 4px 9px}
}


.pv-wiget{background-color: white;width: 326px;max-width: 100%;box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);border-radius: 4px;
	.widget-title{color: var(--main-color);font-weight: 600;font-size: 18px;line-height: 24px;padding: 20px;display: block;}
	.wiget-body{padding: 20px}
	.wiget-footer{padding: 20px}
	.list-unstyled{display: flex;flex-direction: column;row-gap: 10px;font-size: 14px;line-height: 20px;
		&.list-between{
			li{display: flex; align-items: center;justify-content: space-between;column-gap: 5px;}
		}
	}
	hr{opacity: 1;border-color: #DFE5EF;margin-top: 10px;margin-bottom: 10px;}
}

.social-group-btn{background-color: white;border: 1px solid #DFE5EF;border-radius: 5px;padding: 3px 4px;height: 40px;
	.btn{padding: 5px 15px;display: flex;align-items: center;column-gap: 8px;border-radius: 5px;height: 32px;
		&.active{background-color: rgba(112, 92, 255, 0.15);
			span{color: var(--main-color);}
		}
		span{font-weight: 600;font-size: 13px;line-height: 20px}
	}
}

.dropdown-menu.list-info{box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),0px 0px 2px 0px rgba(145, 158, 171, 0.2);border-radius: 12px;border: none;
	padding-top: 13px;padding-bottom: 13px;
	&.show{display: flex;}
	li{white-space: nowrap;border-right: 1px solid #D5D5D7;padding-left: 10px;padding-right: 10px;font-size: 12px;line-height: 1;
		strong{font-weight: 600;padding-left: 5px;}
		&:last-child{border-right: none;}
	}
}

.swiper-button-next, .swiper-button-prev{width: 24px !important;height: 24px !important;background-color: white;border-radius: 100%;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
	&:after{font-size: 10px !important;font-weight: 700;color: var(--black-color);margin-top: -1px;}
}

.admin-modal{
	.modal-dialog{max-width: 400px;
		&.modal-lg{max-width: 700px}
		&.modal-md{max-width: 600px}
	}
	.modal-content{border-radius: 12px;border: none}
	.modal-body{
		padding: 30px 15px;
		.modal-title {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			color: var(--black-color);
			margin-bottom: 0;
			letter-spacing: -0.225px; // -1.25% của 18px
		}
		.modal-message {
			font-size: 13px;
			line-height: 20px;
			letter-spacing: -0.1625px; // -1.25% của 13px
			color: var(--text-gray-color);
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	.modal-footer{justify-content: center;column-gap: 10px;padding: 15px 15px;
		.btn{margin: 0;min-width: 100px;}
	}
	.table{
		&.table-borderless{
			thead th{padding: 4px}
			tbody td{padding: 5px}
		}
	} 
}

.camp-header{padding: 9px 20px}
.camp-nav{border-bottom: 2px solid #DFE5EF;margin-bottom: 20px;
	a{width: 100%;text-align: center;color: #D5D5D7;font-weight: 600;font-size: 14px;line-height: 20px;padding-top: 9px;padding-bottom: 9px;
		border-bottom:2px solid transparent ;margin-bottom: -2px;
		&.active{color: var(--main-color);border-color: var(--main-color);}
	}
}

.custom-table{background-color: white;border: 1px solid #DFE5EF;border-radius: 4px;font-size: 12px;line-height: 18px;
	.table-row{padding: 10px 15px;display: flex;column-gap: 20px;
		>*{width: 10%;display: inline-block;
			&:first-child{width: auto;flex: 1;}
		}
	}
	.table-section{border-bottom: 1px solid #DFE5EF;}
	.table-head{
		>*{font-weight: 600;}
	}
	.table-body{

	}
	.badge{font-size: 10px;line-height: 16px;padding-top: 3px;padding-bottom: 3px;font-weight: 600;
		&.badge-md{font-size: 13px;line-height: 20px;padding: 5px 12px;}
	}
	.user.featured svg path{fill: #ffaa00;stroke: #ffaa00}
}

.custom-table{
	.influencer-detail{padding: 15px 45px;display: flex;column-gap: 20px;
		.image{display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 5px;
			img{aspect-ratio: 1/1;object-fit: cover;}
		}
		.content{
			.box{margin-bottom: 20px;
				.item{padding: 10px;background-color: #F8F8FA;border-radius: 5px;height: 64px;}
			}
		}
	}
}
.gender-age-chart { max-width: 370px; 
  .chart-header { display: flex; align-items: center; gap: 5px; margin-bottom: 10px;
    .info { width: 18px; height: 18px; border-radius: 50%; background: #e5e7eb; text-align: center; font-size: 12px; line-height: 18px; cursor: pointer; }
    .legend {margin-left: auto; font-size: 10px; display: flex; align-items: center; gap: 5px;
      span { width: 8px; height: 8px; border-radius: 2px; display: inline-block; }
      .male { background: #705CFF; }
      .female { background: #DA83FF; }
    }
  }
  .chart-body {display: flex;column-gap: 20px;
    .chart-item {text-align: center;
      .bars {display: flex; justify-content: center; gap: 5px; height: 60px;
        .bar-wrap { width: 20px; background: #e9edf5; border-radius: 2px; display: flex; align-items: flex-end; overflow: hidden;
          .bar {width: 100%; border-radius: 2px;
            &.male { background: #705CFF; }
            &.female { background: #DA83FF; }
          }
        }
      }
      .label { margin-top: 10px; font-size: 10px; font-weight:600 }
    }
  }
}

.admin-filter-btn{
	.btn{padding-top: 8px;padding-bottom:8px;display: flex;align-items: center;gap: 10px;font-size: 12px;opacity: 1;
		>span:first-child{font-weight: 400;}
		&.active{border-color: var(--main-color) !important;}
		&:disabled{
			>*{opacity: 0.4}
		}
	}
}

tr.seeding-detail{
	td{background-color: #F8F8FA}
	.gallery{width: 204px;
		img{width: 204px;height: 256px}
		.swiper-pagination{background-color: #373739;color: white;width: 47px;border-radius: 1000px;left: 3px;bottom: 7px;font-size: 14px;
			line-height: 20px;font-weight: 600;padding: 3px;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
		}
	}
}

#gallery-modal{
	.swiper-slide{text-align: center;}
	.modal-body{padding: 15px;}
	.gallery-main{
		img{width: 335px;height: 420px}
	}
	.gallery-thumbs{
		.swiper-slide{width: auto;border: 1px solid transparent; opacity: 0.4; transition: opacity 0.3s;
			&.swiper-slide-thumb-active{opacity: 1;border-color: #705CFF;}
		}
		img{width: 80px;height: 80px;}
	}
	.swiper-pagination{padding-bottom: 15px;margin-bottom: 15px;}
}

.chart-wp{
	&.campaign.resutls{
		 .stats {           
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
	}
}




$inputBg: #FFFFFF;
$inputText: var(--main-color);

.numberstyle-qty {
  display: flex;max-width: 105px;
  align-items: center;
  justify-content: space-between;gap: 12px;
  padding: 0px 11px;
  border: 1px solid #DFE5EF;
  border-radius: 5px;
  background-color: $inputBg;

  .qty-btn {
    width: 32px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
    user-select: none;
    transition: all 250ms ease;
    color: var(--black-color);

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }

    &:hover:not(.disabled) {
      opacity: 0.7;
    }
  }

  input {
    padding: 0;width: 100%;
    margin: 0;
    border: 0;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: $inputText;
    outline: 0;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &[type=number] {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}


#page_load {
    transition: 0.2s linear;
    background: #ffffffb3;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: wait;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: inline-block;
      border-top: 3px solid var(--main-color);
      border-right: 3px solid transparent;
      -webkit-animation: rotation 1s linear infinite;
      animation: rotation 0.6s linear infinite;
    }
    
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}