:root {
  --bs-border-color:#DFE5EF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: var(--black-color);
}

.text-line-gray {
  color: #D5D5D7;
}

.opacity-40 {
  opacity: 0.4;
}

.mb-12 {
  margin-bottom: 12px;
}

.gap-05 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}

.p-10 {
  padding: 10px;
}

.bg-gray {
  background-color: #F8F8FA;
}

.w-140 {
  width: 140px;
}

.btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  padding: 9px 11px;
  border-radius: 4px;
}
.btn.btn-outline-secondary {
  border-color: #D5D5D7 !important;
  color: #69696B !important;
  background-color: white;
}
.btn.btn-primary.light {
  background-color: rgba(112, 92, 255, 0.15) !important;
  border-color: transparent !important;
  color: var(--main-color) !important;
}
.btn.btn-sm {
  padding: 6px 11px;
  font-size: 13px;
  line-height: 18px;
}

.form-control {
  border-color: #DFE5EF !important;
  box-shadow: none !important;
  border-radius: 5px;
  font-size: 13px;
  line-height: 20px;
  height: 40px;
  padding: 10px 12px;
  transition: none;
}

.form-select {
  border-color: #DFE5EF !important;
  box-shadow: none !important;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  color: var(--black-color);
}
.form-select:invalid {
  color: #D5D5D7;
}
.form-select option {
  color: var(--black-color);
}

.input-group .input-group-text {
  border: 1px solid #DFE5EF;
  border-color: #DFE5EF !important;
}
.input-group .input-group-text:last-child {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.card {
  --bs-card-border-color:#DFE5EF;
  --bs-card-inner-border-radius:4px;
}
.card .card-header {
  padding: 14px;
  background-color: white;
}
.card .card-header .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--black-color);
}
.card .card-body {
  padding: 15px;
}
.card .card-body:not(:last-child) {
  border-bottom: 1px solid #DFE5EF;
}
.card .info-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}
.card .info-list li {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.card .info-list li .label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  min-height: 40px;
  display: inline-block;
  display: flex;
  align-items: center;
  min-width: 140px;
  flex-shrink: 0;
}

.badge {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.badge.text-bg-secondary {
  background-color: #DFE5EF !important;
  color: #69696B !important;
}
.badge.text-bg-white {
  border: 1px solid #69696B !important;
  color: var(--black-color) !important;
  padding: 4px 9px;
}
.badge.text-bg-primary {
  background-color: rgba(112, 92, 255, 0.15) !important;
  color: var(--main-color) !important;
}
.badge.text-bg-light {
  background-color: #F8F8FA !important;
  color: #69696B !important;
}
.badge.text-bg-warning {
  background-color: rgba(255, 181, 61, 0.1490196078) !important;
  color: #FF794D !important;
}
.badge.text-bg-info {
  background-color: rgba(93, 155, 252, 0.25) !important;
  color: #406ADC !important;
}

.max-content {
  width: -moz-max-content !important;
  width: max-content !important;
}

.auth-wp {
  min-height: 100vh;
}
.auth-wp > .left {
  background-color: var(--main-color);
}

.admin-sidebar {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--black-color);
  box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.1215686275);
}
.admin-sidebar.sidebar-collapsed {
  padding-left: 24px;
  padding-right: 24px;
}
.admin-sidebar.sidebar-collapsed > div.position-sticky {
  width: 47px;
}
.admin-sidebar.sidebar-collapsed span {
  display: none;
}
.admin-sidebar > div.position-sticky {
  width: 210px;
  transition: 0.2s all;
}
.admin-sidebar ul li {
  margin-bottom: 10px;
}
.admin-sidebar ul a {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 10px 12px;
  border-radius: 5px;
}
.admin-sidebar ul a.active {
  background-color: rgba(255, 255, 255, 0.15);
}
.admin-sidebar ul a span {
  color: white;
  font-size: 14px;
}

.admin-topbar {
  padding: 20px;
}

.admin-primary {
  background: #F8F8FA;
  border-bottom: 70px solid white;
  min-width: 1200px;
}

.admin-section {
  padding-left: 20px;
  padding-right: 20px;
}

.admin-page-action {
  margin-bottom: 12px;
}
.admin-page-action > strong {
  color: #333B54;
}

.admin-form-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.admin-form-page .form-section {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.admin-form-page .form-section .row-section {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  min-height: 42px;
}
.admin-form-page .form-section .row-section .col-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 140px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.admin-form-page .form-section .row-section .col-label .label {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.admin-form-page .form-section .row-section .col-input {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.admin-form-page .form-section .row-section .col-input .form-check {
  min-width: 100px;
}
.admin-form-page .form-section .row-section .col-input .form-check .form-check-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.admin-form-page .input-group-text {
  background-color: white;
}

.count-box.invalid {
  border-color: #FF383C !important;
}
.count-box.textarea-group {
  width: 100%;
  border: 1px solid #DFE5EF;
  border-radius: 5px;
}
.count-box.textarea-group._120 .form-control {
  min-height: 88px;
}
.count-box.textarea-group textarea {
  border: none !important;
  resize: none;
}
.count-box.textarea-group .input-group-text {
  border: none;
  justify-content: end;
  padding-top: 5px;
  padding-bottom: 5px;
}
.count-box.invalid .count-result, .count-box.invalid .input-group-text {
  color: #FF383C;
}
.count-box.invalid input, .count-box.invalid .input-group-text {
  border-color: #FF383C !important;
}
.count-box .input-group-text {
  font-size: 14px;
  line-height: 20px;
}
.count-box .count-result {
  color: var(--main-color);
}

.date-input-wrapper {
  position: relative;
  cursor: pointer;
}
.date-input-wrapper.invalid .text-label {
  border-color: #FF383C !important;
}
.date-input-wrapper .text-label {
  display: flex;
  align-items: center;
  pointer-events: none;
  font-size: 12px;
  height: 40px;
  width: 165px;
  line-height: 20px;
  border-radius: 5px;
  padding-left: 12px;
  background: white url("../images/icons/calendar.svg") no-repeat center right 12px;
  border: 1px solid #DFE5EF;
}
.date-input-wrapper input[type=date] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.table {
  --bs-table-color:var(--black-color);
  --bs-table-border-color:#DFE5EF;
  --bs-table-striped-bg:#F8F8FA;
  --bs-table-striped-color:var(--black-color);
}
.table.table-borderless {
  vertical-align: middle;
}
.table.table-borderless thead th {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background-color: #F8F8FA;
  padding: 5px 10px;
  border-bottom: 5px solid transparent;
}
.table.table-striped thead th {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 14px 10px;
}
.table.table-striped tbody td {
  padding: 9px 14px;
  vertical-align: middle;
}
.table.table-striped > :not(caption) > * > th:not(:first-child), .table.table-striped > :not(caption) > * > td:not(:first-child) {
  border: none;
}
.table.custom-table {
  border: 1px solid #DFE5EF;
}
.table.custom-table thead th {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 10px 10px;
}
.table.custom-table td {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 10px 10px;
}
.table tbody td {
  font-size: 14px;
  line-height: 20px;
  padding: 11px 10px;
}
.table .campaign-item {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.table .campaign-item img {
  flex-shrink: 0;
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #F8F8FA;
  border-radius: 2px;
}
.table .col-action {
  text-align: center;
  width: 55px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.table .col-action:last-child {
  padding-right: 12px !important;
}

.form-check.form-switch .form-check-input {
  width: 45px;
  height: 24px;
  box-shadow: none;
  background-color: #D5D5D7;
  border-color: #D5D5D7;
  background-image: url('data:image/svg+xml,<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_666_6009)"><circle cx="11.2" cy="13.2" r="9.2" fill="white"/></g><defs><filter id="filter0_d_666_6009" x="0" y="0" width="26.3999" height="26.3999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="2"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_666_6009"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_666_6009" result="shape"/></filter></defs></svg>');
  background-size: 27px;
}
.form-check.form-switch .form-check-input:checked {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  background-position: right -5px center;
}

.upload-single-file-wp {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: end;
  overflow: hidden;
}
.upload-single-file-wp .img-preview {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  background-color: #F8F8FA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D5D5D7;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
.upload-single-file-wp .img-preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.upload-single-file-wp .img-action {
  font-size: 12px;
  line-height: 18px;
  padding: 4px 9px;
}

.pv-wiget {
  background-color: white;
  width: 326px;
  max-width: 100%;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 4px;
}
.pv-wiget .widget-title {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
  display: block;
}
.pv-wiget .wiget-body {
  padding: 20px;
}
.pv-wiget .wiget-footer {
  padding: 20px;
}
.pv-wiget .list-unstyled {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  line-height: 20px;
}
.pv-wiget .list-unstyled.list-between li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.pv-wiget hr {
  opacity: 1;
  border-color: #DFE5EF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-group-btn {
  background-color: white;
  border: 1px solid #DFE5EF;
  border-radius: 5px;
  padding: 3px 4px;
}
.social-group-btn .btn {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 5px;
}
.social-group-btn .btn.active {
  background-color: rgba(112, 92, 255, 0.15);
}
.social-group-btn .btn.active span {
  color: var(--main-color);
}
.social-group-btn .btn span {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.dropdown-menu.list-info {
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  border-radius: 12px;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
}
.dropdown-menu.list-info.show {
  display: flex;
}
.dropdown-menu.list-info li {
  white-space: nowrap;
  border-right: 1px solid #D5D5D7;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1;
}
.dropdown-menu.list-info li strong {
  font-weight: 600;
  padding-left: 5px;
}
.dropdown-menu.list-info li:last-child {
  border-right: none;
}

.swiper-button-next, .swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 10px !important;
  font-weight: 700;
  color: var(--black-color);
  margin-top: -1px;
}

.admin-modal .modal-dialog {
  max-width: 400px;
}
.admin-modal .modal-dialog.modal-lg {
  max-width: 700px;
}
.admin-modal .modal-dialog.modal-md {
  max-width: 600px;
}
.admin-modal .modal-content {
  border-radius: 12px;
  border: none;
}
.admin-modal .modal-body {
  padding: 30px 15px;
}
.admin-modal .modal-footer {
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.admin-modal .modal-footer .btn {
  margin: 0;
  min-width: 100px;
}
.admin-modal .table.table-borderless thead th {
  padding: 4px;
}
.admin-modal .table.table-borderless tbody td {
  padding: 5px;
}

.camp-header {
  padding: 9px 20px;
}

.camp-nav {
  border-bottom: 2px solid #DFE5EF;
  margin-bottom: 20px;
}
.camp-nav a {
  width: 100%;
  text-align: center;
  color: #D5D5D7;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}
.camp-nav a.active {
  color: var(--main-color);
  border-color: var(--main-color);
}

.custom-table {
  background-color: white;
  border: 1px solid #DFE5EF;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
}
.custom-table .table-row {
  padding: 10px 15px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.custom-table .table-row > * {
  width: 10%;
  display: inline-block;
}
.custom-table .table-row > *:first-child {
  width: auto;
  flex: 1;
}
.custom-table .table-section {
  border-bottom: 1px solid #DFE5EF;
}
.custom-table .table-head > * {
  font-weight: 600;
}
.custom-table .badge {
  font-size: 10px;
  line-height: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
}
.custom-table .badge.badge-md {
  font-size: 13px;
  line-height: 20px;
  padding: 5px 12px;
}
.custom-table .user.featured svg path {
  fill: #ffaa00;
  stroke: #ffaa00;
}

.custom-table .influencer-detail {
  padding: 15px 45px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.custom-table .influencer-detail .image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.custom-table .influencer-detail .image img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.custom-table .influencer-detail .content .box {
  margin-bottom: 20px;
}
.custom-table .influencer-detail .content .box .item {
  padding: 10px;
  background-color: #F8F8FA;
  border-radius: 5px;
  height: 64px;
}

.gender-age-chart {
  max-width: 370px;
}
.gender-age-chart .chart-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.gender-age-chart .chart-header .info {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #e5e7eb;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.gender-age-chart .chart-header .legend {
  margin-left: auto;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.gender-age-chart .chart-header .legend span {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  display: inline-block;
}
.gender-age-chart .chart-header .legend .male {
  background: #705CFF;
}
.gender-age-chart .chart-header .legend .female {
  background: #DA83FF;
}
.gender-age-chart .chart-body {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.gender-age-chart .chart-body .chart-item {
  text-align: center;
}
.gender-age-chart .chart-body .chart-item .bars {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 60px;
}
.gender-age-chart .chart-body .chart-item .bars .bar-wrap {
  width: 20px;
  background: #e9edf5;
  border-radius: 2px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.gender-age-chart .chart-body .chart-item .bars .bar-wrap .bar {
  width: 100%;
  border-radius: 2px;
}
.gender-age-chart .chart-body .chart-item .bars .bar-wrap .bar.male {
  background: #705CFF;
}
.gender-age-chart .chart-body .chart-item .bars .bar-wrap .bar.female {
  background: #DA83FF;
}
.gender-age-chart .chart-body .chart-item .label {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 600;
}

.admin-filter-btn .btn {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  opacity: 1;
}
.admin-filter-btn .btn > span:first-child {
  font-weight: 400;
}
.admin-filter-btn .btn.active {
  border-color: var(--main-color) !important;
}
.admin-filter-btn .btn:disabled > * {
  opacity: 0.4;
}

tr.seeding-detail td {
  background-color: #F8F8FA;
}
tr.seeding-detail .gallery {
  width: 204px;
}
tr.seeding-detail .gallery img {
  width: 204px;
  height: 256px;
}
tr.seeding-detail .gallery .swiper-pagination {
  background-color: #373739;
  color: white;
  width: 47px;
  border-radius: 1000px;
  left: 3px;
  bottom: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 3px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

#gallery-modal .swiper-slide {
  text-align: center;
}
#gallery-modal .modal-body {
  padding: 15px;
}
#gallery-modal .gallery-main img {
  width: 335px;
  height: 420px;
}
#gallery-modal .gallery-thumbs .swiper-slide {
  width: auto;
  border: 1px solid transparent;
  opacity: 0.4;
  transition: opacity 0.3s;
}
#gallery-modal .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  border-color: #705CFF;
}
#gallery-modal .gallery-thumbs img {
  width: 80px;
  height: 80px;
}
#gallery-modal .swiper-pagination {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.numberstyle-qty {
  display: flex;
  max-width: 105px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 0px 11px;
  border: 1px solid #DFE5EF;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.numberstyle-qty .qty-btn {
  width: 32px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 20px;
  line-height: 29px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 250ms ease;
  color: var(--black-color);
}
.numberstyle-qty .qty-btn.disabled {
  cursor: default;
  opacity: 0.3;
}
.numberstyle-qty .qty-btn:hover:not(.disabled) {
  opacity: 0.7;
}
.numberstyle-qty input {
  padding: 0;
  width: 100%;
  margin: 0;
  border: 0;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
  outline: 0;
}
.numberstyle-qty input:focus {
  outline: 0;
  box-shadow: none;
}
.numberstyle-qty input[type=number] {
  -moz-appearance: textfield;
}
.numberstyle-qty input[type=number]::-webkit-inner-spin-button, .numberstyle-qty input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/*# sourceMappingURL=admin.css.map */