.btn-open-modal-setting {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.175px; // -1.25% của 14px
    color: var(--black-color);
    border: 0;
    border-bottom: 1px solid #DFE5EF;
    background-color: #ffffff !important;
    border-radius: 0;
}

#base-salary-modal {
    .salary-box-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .salary-box {
            display: flex;
            align-items: center;
            gap: 15px;
            .label {
                display: block;
                width: 60px;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.175px; // -1.25% của 14px
                color: var(--black-color);
                text-align: left;
                flex-shrink: 0;
            }
            .input-group {
                flex-grow: 1;
            }
        }
    }
}