#downloadBrochure {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--main-color);
  padding: 0 16px;
  width: auto;
  height: 48px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: -0.175px;
  line-height: 20px;
}

.auth-wp {
  min-height: 100vh;
}
.auth-wp .left {
  padding: 24px 16px;
  background-color: #F8F8FA;
}
.auth-wp .right {
  padding: 92px 16px;
}
.auth-wp .intro-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.175px;
  margin: 0;
}
.auth-wp .headline {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.225px;
  color: var(--main-color);
  margin-bottom: 32px;
  text-align: center;
}
.auth-wp .content-box {
  width: 100%;
  max-width: 343px;
}
.auth-wp .content-box form .btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: var(--black-color);
  border-radius: 8px;
  color: #FFFFFF;
  padding: 0 16px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.15px;
  line-height: 18px;
  border: 1px solid var(--main-color);
}
.auth-wp .content-box form .btn-submit:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.auth-wp .content-box .list-url {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  list-style: none;
  padding: 0;
}
.auth-wp .content-box .list-url li a {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: var(--black-color);
}
.auth-wp .content-box .list-url li:not(:last-child)::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 8px;
}

.progess-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-bottom: 64px;
}
.progess-bar .progress-step {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 2.5px 0;
}
.progess-bar .progress-step .step-label {
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.125px;
}
.progess-bar .progress-step .step-line {
  position: relative;
  display: block;
  width: 100%;
  height: 18px;
  margin-bottom: 6px;
}
.progess-bar .progress-step .step-line::after, .progess-bar .progress-step .step-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #DFE5EF;
  transform: translateY(-50%);
  z-index: -1;
}
.progess-bar .progress-step .step-line .step-dot {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.progess-bar .progress-step:first-child .step-line::after,
.progess-bar .progress-step:first-child .step-line::before {
  border-radius: 50rem 0 0 50rem;
}
.progess-bar .progress-step:last-child .step-line::after,
.progess-bar .progress-step:last-child .step-line::before {
  border-radius: 0 50rem 50rem 0;
}
.progess-bar .progress-step:not(.active):not(.completed) .step-label {
  color: #D5D5D7;
}
.progess-bar .progress-step:not(.active):not(.completed) .step-line .step-dot {
  background-image: url("../images/icons/step-dot-inactive.svg");
}
.progess-bar .progress-step.active .step-label {
  color: var(--main-color);
}
.progess-bar .progress-step.active .step-line::after {
  background-color: var(--main-color);
  width: 50%;
}
.progess-bar .progress-step.active .step-line .step-dot {
  background-image: url("../images/icons/step-dot-active.svg");
}
.progess-bar .progress-step.completed .step-label {
  color: var(--black-color);
}
.progess-bar .progress-step.completed .step-line::after {
  background-color: var(--main-color);
  width: 100%;
}
.progess-bar .progress-step.completed .step-line .step-dot {
  background-image: url("../images/icons/step-dot-completed.svg");
}

#registerForm button[type=submit],
#registerForm .btn-next-step {
  background-color: var(--main-color);
  margin-top: 64px;
}

.field-group {
  position: relative;
  width: 100%;
  border: 1px solid #DFE5EF;
  border-radius: 8px;
  padding: 6px 12px;
}
.field-group.is-error {
  border-color: var(--error-color);
}
.field-group .field-label {
  position: relative;
  display: inline-block;
  color: #69696B;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: -0.125px;
}
.field-group .field-label.required::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 100%;
  position: absolute;
  top: 2px;
  right: -8px;
}
.field-group .field-control {
  position: relative;
  width: 100%;
  border: none;
  box-shadow: none !important;
  outline: none;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.175px;
  color: var(--black-color);
}
.field-group .field-control::-moz-placeholder {
  color: #D5D5D7;
}
.field-group .field-control::placeholder {
  color: #D5D5D7;
}
.field-group .btn-icon-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.field-group .btn-icon-input.btn-show-password .icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.field-group .btn-icon-input.btn-show-password .icon.hide-password {
  background-image: url("../../assets/images/icons/eye-open.svg");
}
.field-group .btn-icon-input.btn-show-password .icon.show-password {
  background-image: url("../../assets/images/icons/eye-closed.svg");
}

.field-datepicker {
  cursor: pointer;
}
.field-datepicker input {
  pointer-events: none;
}

.field-check {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 0;
  margin: 0;
  min-height: inherit;
}
.field-check .field-check-input {
  float: none;
  margin: 0;
  box-shadow: none;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  flex-shrink: 0;
}
.field-check .field-check-input[type=checkbox] {
  height: 20px;
  width: 20px;
  border: 1px solid #DFE5EF;
  border-radius: 4px;
}
.field-check .field-check-input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.44801 6.77468L1.13468 4.46135C1.01003 4.3367 0.840965 4.26667 0.66468 4.26667C0.488396 4.26667 0.319332 4.3367 0.19468 4.46135C0.0700286 4.586 0 4.75506 0 4.93135C0 5.01863 0.0171926 5.10507 0.0505959 5.18571C0.0839992 5.26635 0.132959 5.33963 0.19468 5.40135L2.98135 8.18801C3.24135 8.44802 3.66135 8.44802 3.92135 8.18801L10.9747 1.13468C11.0993 1.01003 11.1694 0.840965 11.1694 0.664681C11.1694 0.488396 11.0993 0.319332 10.9747 0.194681C10.85 0.0700288 10.681 0 10.5047 0C10.3284 0 10.1593 0.0700288 10.0347 0.194681L3.44801 6.77468Z" fill="white"/></svg>');
  background-size: 13px;
}
.field-check .field-check-input:checked {
  background-color: var(--main-color);
}
.field-check .field-check-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  flex-grow: 1;
  letter-spacing: -0.15px;
}
.field-check .field-check-link {
  border: 0;
  background: transparent;
  padding: 0;
  height: 100%;
}

.error-feedback {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.125;
  color: var(--error-color);
  margin-top: 2px;
}
.error-feedback::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../../assets/images/icons/error.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2px;
  margin-bottom: 1px;
}/*# sourceMappingURL=auth.css.map */