#downloadBrochure {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	background-color: var(--main-color);
	padding: 0 16px;
	width: auto;
	height: 48px;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: -0.175px; // -1.25% của 14px
	line-height: 20px;
}

.auth-wp{
	min-height: 100vh;
	.left{
		padding: 24px 16px;
		background-color: #F8F8FA;
	}
	.right {
		padding: 80px 16px;
	}
	.intro-text {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.175px; // -1.25% của 14px
		margin: 0;
	}
	.headline {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.225px; // -1.25% của 18px
		color: var(--main-color);
		margin-bottom: 32px;
		text-align: center;
	}
	.content-box{
		width: 100%;
		max-width: 343px;

		.btn-submit {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 48px;
			background-color: var(--black-color);
			border-radius: 8px;
			color: #FFFFFF;
			padding: 0 16px;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: -0.15px; // -1.25% của 12px
			line-height: 18px;
			border: 1px solid var(--main-color);

			&:disabled {
				opacity: 0.4;
				pointer-events: none;
			}
		}

		.list-url {
			display: flex;
			align-items: center;
			gap: 8px;
			justify-content: center;
			margin-top: 32px;
			margin-bottom: 32px;
			list-style: none;
			padding: 0;

			li {
				a {
					position: relative;
					display: inline-block;
					font-size: 12px;
					line-height: 18px;
					letter-spacing: -0.15px; // -1.25% của 12px
					color: var(--black-color);
				}
				
				&:not(:last-child)::after {
					content: "";
					width: 4px;
					height: 4px;
					background-color: var(--black-color);
					border-radius: 50%;
					display: inline-block;
					margin-bottom: 2px;
					margin-left: 8px;
				}
			}
		}
	}
}

.progess-bar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0;
	margin-bottom: 64px;
	.progress-step {
		position: relative;
		width: 100%;
		text-align: center;
		padding: 2.5px 0;
		.step-label {
			font-weight: 600;
			font-size: 10px;
			line-height: 16px;
			letter-spacing: -0.125px; // -1.25% của 10px
		}
		.step-line {
			position: relative;
			display: block;
			width: 100%;
			height: 18px;
			margin-bottom: 6px;
			&::after,
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: #DFE5EF;
				transform: translateY(-50%);
				z-index: -1;
			}
			.step-dot {
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin: 0 auto;
			}
		}
		&:first-child {
			.step-line::after,
			.step-line::before {
				border-radius: 50rem 0 0 50rem;
			}
		}
		&:last-child {
			.step-line::after,
			.step-line::before {
				border-radius: 0 50rem 50rem 0;
			}
		}
		&:not(.active):not(.completed) {
			.step-label {
				color: #D5D5D7;
			}
			.step-line .step-dot {
				background-image: url('../images/icons/step-dot-inactive.svg');
			}
		}
		&.active {
			.step-label {
				color: var(--main-color);
			}
			.step-line {
				&::after {
					background-color: var(--main-color);
					width: 50%;
				}
				.step-dot {
					background-image: url('../images/icons/step-dot-active.svg');
				}
			}
		}
		&.completed {
			.step-label {
				color: var(--black-color);
			}
			.step-line {
				&::after {
					background-color: var(--main-color);
					width: 100%;
				}
				.step-dot {
					background-image: url('../images/icons/step-dot-completed.svg');
				}
			}
		}
	}
}

#registerForm {
	.channel-item {
		position: relative;
		width: 100%;
		box-shadow: 0px 2px 8px 0px #0000000D;
		border-radius: 8px;
		padding: 16px 16px;
		border: 0;
		.connect-box {
			display: flex;
			align-items: center;
			gap: 8px;
			.channel-icon {
				max-width: 100%;
				height: auto;
				flex-shrink: 0;
			}
			.channel-name {
				flex-grow: 1;
				font-weight: 600;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: -0.175px; // -1.25% của 14px
				color: var(--black-color);
			}
			.btn-channel-connect {
				background-color: #705CFF26;
				border: none;
				border-radius: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 37px;
				height: 30px;
				cursor: pointer;
				&:disabled {
					opacity: 0.4;
					pointer-events: none;
				}	
			}
		}
		.connected-info {
			position: relative;
			width: 100%;
			padding: 12px 12px;
			border: 1px solid #DFE5EF;
			border-radius: 8px;
			margin-top: 4px;
			.account-linked {
				display: flex;
				align-items: center;
				gap: 0;
				margin-bottom: 16px;
				.account-avatar {
					max-width: 100%;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					object-fit: cover;
					flex-shrink: 0;
				}
				.account-id {
					display: inline-block;
					font-weight: 600;
					font-size: 12px;
					line-height: 18px;
					letter-spacing: -0.15px; // -1.25% của 12px
					color: var(--black-color);
					width: auto;
					flex-shrink: 0;
					margin-left: 8px;
				}
				.verified-icon {
					width: 15px;
					height: 15px;
					margin-left: 5px;
					flex-shrink: 0;
				}
			}
			.channel-labels {
				display: flex;
				align-items: center;
				gap: 8px;
				flex-wrap: nowrap;
				width: 100%;
				overflow: auto;
				white-space: nowrap;
				-ms-overflow-style: none;
				scrollbar-width: none;
				&.is-hover {
					cursor: grabbing;
					user-select: none;
				}
				&::-webkit-scrollbar {
					display: none;
				}
				.channel-label {
					display: flex;
					align-items: center;
					justify-content: center;
					width: max-content;
					flex-shrink: 0;
					font-weight: 600;
					font-size: 10px;
					line-height: 16px;
					letter-spacing: -0.125px; // -1.25% của 10px
					color: var(--text-gray-color);
					background-color: #F8F8FA;
					height: 28px;
					padding: 0 12px;
					border: 0;
					border-radius: 4px;
				}
			}
		}
	}
	.group-label {
		position: relative;
		display: inline-block;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.175px; // -1.25% của 14px
		color: var(--black-color);
		display: block;
		&.required {
			&::after {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				background-color: var(--main-color);
				border-radius: 100%;
				position: absolute;
				top: 2px;
				right: -8px;
			}
		}
	}
	.radio-box {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		height: 36px;
		padding: 0 16px;
		border: 1px solid #DFE5EF;
		border-radius: 8px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.175px; // -1.25% của 14px
		color: var(--black-color);
		input[type="radio"] {
			display: none;
		}
		&:has(input[type="radio"]:checked) {
			background-color: #705CFF26;
			border-color: var(--main-color);
			color: var(--main-color);
		}
	}
	.notice-wrap {
		position: relative;
		width: 100%;
		padding: 16px 16px;
		background-color: #F8F8FA;
		border: 0;
		border-radius: 8px;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.15px; // -1.25% của 12px
		text-align: center;
		color: var(--black-color);
	}
	.btn-upload-file,
	.btn-tax-info {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34px;
		background-color: var(--main-color);
		border: 1px solid var(--main-color);
		border-radius: 8px;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.15px; // -1.25% của 12px
		padding: 0 12px;
		color: #FFFFFF;
		cursor: pointer;
		input[type="file"] {
			display: none;
		}
	}

	.btn-tax-info {
		gap: 4px;
		background-color: var(--black-color);
		border: 1px solid var(--black-color);
	}
	
	button[type="submit"],
	.btn-next-step {
		background-color: var(--main-color);
		margin-top: 64px;
	}
}

#successWrap {
	.subhead {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.175px; // -1.25% của 14px
		text-align: center;
		color: var(--text-gray-color);
		margin: 0;
	}
	.result-text {
		position: relative;
		width: 100%;
		background-color: #F8F8FA;
		padding: 16px 16px;
		border-radius: 8px;
		border: 1px solid #DFE5EF;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.175px; // -1.25% của 14px
		text-align: center;
		color: var(--black-color);
		margin: 0;

		#foundEmail {
			font-weight: 600;
			color: var(--main-color);
		}
	}
	.btn-mobi-fixed-bottom {
		margin-top: 32px;
		.btn-submit {
			background-color: var(--main-color);
		}
	}
	
}

.page-find-email {
	.btn-mobi-fixed-bottom {
		margin-top: 32px;
		button[type="submit"],
		.btn-submit {
			background-color: var(--main-color);
		}
	}
}

@media (max-width: 991px) {
	.page-find-email {
		.auth-wp {
			.right {
				padding: 80px 16px 88px;
			}
		}
		
		.btn-mobi-fixed-bottom {
			position: fixed;
			bottom: 0;
			padding: 8px 16px;
			left: 0;
			width: 100%;
			z-index: 1000;
			margin-top: 0;
			box-shadow: 0px -1px 10px 0px #00000014;
			button[type="submit"],
			.btn-submit {
				background-color: var(--main-color);
			}
		}
	}
}

@import "components/form-fields";
@import 'components/register-modals';