body{padding-top: 56px;background-color: #F8F8FA}
.fs-10{font-size: 10px !important;line-height: 16px !important}
.fs-11{font-size: 11px !important;line-height: 15px !important}
.fs-6{line-height: 20px;}
.p-15{padding: 15px}
.gap-32{gap: 32px;}
.rounded-9{border-radius: 9px;}

.border-light{border-color: #DFE5EF !important}
.btn{padding: 8px;height: 36px;font-weight: 600;font-size: 13px;line-height: 20px;display: flex;align-items: center;justify-content: center;
	&.btn-secondary{background-color: #F8F8FA !important;color: #69696B !important}
}

.fe-section{padding: 24px 16px;}
.header-mobile{display: flex; justify-content: space-between;align-items: center;padding: 16px;
	position: fixed;width: 100%;z-index: 10;top: 0;left: 0;background-color: white;
	.open-notif-btn{
		&.active:before{content: "";display: block;width: 6px;height: 6px;border-radius: 100%;background-color: var(--main-color);top: 0;right: 0;position: absolute;}
	}
}
.form-control{border:none !important;box-shadow: none !important;border-radius: 8px;font-size: 12px;line-height: 18px;height: 36px;padding: 8px 12px;transition: none;
	background-color: #F8F8FA !important;color: var(--black-color);
}
.form-select{border-color: #DFE5EF !important;box-shadow: none !important;font-size: 10px;line-height: 16px;color: var(--black-color);border-radius: 1000px;
	padding: 5px 30px 5px 12px;background-position: right 11px center;
	&:invalid { color: #D5D5D7;}
	option{color: var(--black-color);}
}
.input-group{
	.input-group-text{border: none;background-color: #F8F8FA;
		&:last-child{border-radius: 0 8px 8px 0;}
	}
}

.input-group-label{display:grid;gap: 8px;grid-template-columns: 1fr 1fr 1fr 1fr;
    input{display: none}
    label{font-size: 14px;display: inline-block;padding: 7px;border: 1px solid #DFE5EF;border-radius: 1000px;line-height: 20px;
    	cursor: pointer;background-color: white;text-align: center;
    }
    input:checked+label {
        background-color: rgba(112, 92, 255, 0.15);border-color: var(--main-color);color: var(--main-color);
    }
}

.modal-backdrop{
	--bs-backdrop-opacity:0.1;
}
.menu-tab-bottom-mobile{box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.08);background-color: white;z-index: 10000; border-radius: 12px 12px 0 0;
	a{width: 100%;text-align: center;padding-top: 7px;padding-bottom: 7px;
		span{display: block;color: #D5D5D7;font-weight: 600;font-size: 12px;line-height: 18px;}
		&:nth-child(3){width: 66px;flex-shrink: 0;
			svg{box-shadow: 0px 4px 20px 0px rgba(93, 155, 252, 0.25); border-radius: 100%;}
		}
		&.active{
			span{color: var(--black-color);}
			svg path{fill:var(--black-color);}
		}
	}
}

.campaign-carousel{margin-right: -16px !important;
	.swiper-slide{width: 150px}
}
.campaign-item{display: block;
	.thumb{
		.icon{top: 9px;left: 9px;
			img{width: 23px;}
		}
		>img{aspect-ratio: 1}
	}
}

.campaign-card{background-color: white;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);border-radius: 8px;
	.campaign-card__body{
		.campaign-card__thumbnail img{width: 80px;height: 80px}
	}
	.campaign-tag{font-weight: 600;font-size: 10px;line-height: 16px;border-radius: 4px;padding: 4px 8px;
		display: flex;align-items: center;column-gap: 4px;background-color: #F8F8FA;
		&:first-child{background-color: rgba(244, 160, 79, 0.1)}
		&.campaign-tag--code{background-color: rgba(112, 92, 255, 0.15);color: var(--main-color);}
		&.disabled{color: #D5D5D7;background-color:#F8F8FA }
		img{width: 12px;flex-shrink: 0;height: 12px; object-fit: cover;}
	}
}

.home-box-1{
	.btn-outline-primary{height: 34px;padding-left: 17px;padding-right: 17px;}
	.action-btn-box{
		button{width: 100%;display: flex;align-items: center;justify-content: space-between; background-color: rgba(55, 55, 57, 0.2);
		    border-radius: 1000px;color: white; font-size: 10px;height: auto; padding: 6px 6px 6px 10px;
		}
		.icon{width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;background-color: white;border-radius: 100%;
			img{width: 12px;}
		}
	}
}

.home-box-2{
	a{padding-bottom: 12px;margin-bottom: 12px;border-bottom: 1px solid #DFE5EF;
		&:last-child{border: none;margin-bottom: 0;padding-bottom: 0}
	}
}

.pv-tabs{border-bottom: 3px solid #D5D5D7;
	.nav-item{width: 100%;margin-bottom: -2px;}
	.nav-link{border: none;width: 100%;font-weight: 600;font-size: 14px;color: #D5D5D7;padding-top: 9px;padding-bottom: 10px;
		&.active{color: var(--black-color);border-bottom: 3px solid var(--black-color);}
	}
}

.tab-content.campain{
	.filter-box{
		.btn-outline-light{border-radius: 1000px;font-weight: 400;font-size: 10px;line-height: 16px;display: flex;align-items: center;column-gap: 6px;height: 28px; padding: 5px 11px;}
	}
}