@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}
:root{
	--main-color:#705CFF;
	--black-color:#373739;
    --error-color: #FF383C;
    --text-gray-color: #69696B;
    --bs-danger-rgb:255, 56, 60;
    --bs-primary-rgb:112, 92, 255;
}

html{font-size: 16px;}
img{max-width: 100%;height: auto;}
a{text-decoration: none;}
body{font-family: 'Pretendard', 'sans-serif';line-height: 1;letter-spacing: -0.0125em;color: var(--black-color);}
.container {
    max-width: calc(1440px + var(--bs-gutter-x));
    --bs-gutter-x  : 32px;
}
.text-primary{color: var(--main-color) !important;}
.text-black{color: var(--black-color) !important;}
.text-gray{color: #69696B !important}

.fs-12{font-size: 12px !important;line-height: 18px !important; letter-spacing: -0.15px;}
.fs-13{font-size: 13px !important;line-height: 20px !important; letter-spacing: -0.1625px;}
.fs-14{font-size: 14px !important;line-height: 20px !important; letter-spacing: -0.175px;}
.fs-18{font-size: 18px !important;line-height: 24px !important; letter-spacing: -0.225px;}

.mb-32{margin-bottom: 32px !important}
.gap-10{gap: 10px !important;}
.gap-12{gap: 12px !important;}

.btn-custom{display: flex;align-items: center;justify-content: center;column-gap: 4px}
.btn{
	--bs-btn-disabled-opacity:0.4;
	&.btn-primary{background-color: var(--main-color) !important;border-color: var(--main-color) !important;}
	&.btn-dark{background-color: var(--black-color) !important;border-color: var(--black-color) !important;}
    &.btn-outline-light{color: var(--black-color) !important;border-color: #DFE5EF !important;background-color: white !important;}
    &.btn-outline-primary{color: var(--main-color) !important;border-color: var(--main-color) !important;background-color: white !important;}
	&.btn-lg{font-weight: 600;font-size: 12px;line-height: 18px;height: 48px;padding: 11px 15px}
}
.max-content{width: max-content !important}
.form-control{
	&::placeholder{color: #D5D5D7}
	font-size: 14px;line-height: 20px;
}
.form-check:not(.form-switch){display: flex;align-items: center;column-gap: 10px;padding-left: 0;margin: 0;min-height: inherit;
	.form-check-input{float: none;margin:0;box-shadow: none;opacity: 1;height: 20px;width: 20px;
		&:checked{background-color: var(--main-color);}
		&[type="checkbox"]{border: 1px solid #DFE5EF;border-radius: 4px;
			&:checked{background-image: url('data:image/svg+xml,<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.44801 6.77468L1.13468 4.46135C1.01003 4.3367 0.840965 4.26667 0.66468 4.26667C0.488396 4.26667 0.319332 4.3367 0.19468 4.46135C0.0700286 4.586 0 4.75506 0 4.93135C0 5.01863 0.0171926 5.10507 0.0505959 5.18571C0.0839992 5.26635 0.132959 5.33963 0.19468 5.40135L2.98135 8.18801C3.24135 8.44802 3.66135 8.44802 3.92135 8.18801L10.9747 1.13468C11.0993 1.01003 11.1694 0.840965 11.1694 0.664681C11.1694 0.488396 11.0993 0.319332 10.9747 0.194681C10.85 0.0700288 10.681 0 10.5047 0C10.3284 0 10.1593 0.0700288 10.0347 0.194681L3.44801 6.77468Z" fill="white"/></svg>');
				background-size: 12px;
			}
		}
        &[type="radio"]{border: 2px solid #DFE5EF;background-color: white;
            &:checked{background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="18" height="18" rx="9" stroke="%234C33FF" stroke-width="2"/><circle cx="10" cy="10" r="6" fill="%234C33FF"/></svg>');
                border: none;
            }
        }
	}
	.form-check-label{font-weight: 600;font-size: 12px;line-height: 18px;display: inline-block;cursor: pointer !important;opacity: 1 !important}
}
.invalid-feedback{color: #FF383C;font-size: 10px;margin-top: 2px;position: relative;padding-left: 13px;
	background: url("../images/icons/error.svg") no-repeat left center;
}
.form-floating-custom{border: 1px solid #DFE5EF;border-radius: 8px;padding: 4px 12px 5px;
	input{border: none;box-shadow: none !important;padding: 0}
	.form-label{color: #69696B;font-size: 10px;line-height: 16px;margin-bottom: 0;position: relative;
		&.required{
			&:after{content: "";display: block;width: 4px;height: 4px;background-color: var(--main-color);border-radius: 100%;position: absolute;top: 2px;right: -8px}
		}
	}
}

@media only screen and (min-width: 993px) {
	.form-floating-custom{width: 343px}
}// end @media

@media only screen and (max-width: 1200px) {

}//end 1200


@media only screen and (max-width: 992px) {
    .w-mb-100{width: 100%}
}//end 992

@media only screen and (min-width: 768px) {

}
@media only screen and (max-width: 768px) {

} // end 768px

@media only screen and (max-width: 576px) {
 
}//end 576px


#page_load {
    transition: 0.2s linear;
    background: #ffffffb3;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: wait;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: inline-block;
      border-top: 3px solid var(--main-color);
      border-right: 3px solid transparent;
      -webkit-animation: rotation 1s linear infinite;
      animation: rotation 0.6s linear infinite;
    }
    
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@import 'components/alert-modals';