.pv-modal{backdrop-filter: blur(6px);
    .modal-dialog {
        max-width: 335px;margin: 0 auto;
        .modal-content {
            border-radius: 16px;
            box-shadow: 0px 10px 10px 0px #0000001A;
            border: 0;
            .modal-body {
                padding: 32px 16px;
            }
            .modal-title {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.225px; // -1.25% của 18px
                text-align: center;
                color: var(--error-color);
                margin: 0;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/images/icons/error.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 5px;
                }
            }
            .modal-message {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.175px; // -1.25% của 14px
                text-align: center;
                color: var(--text-gray-color);
                margin-top: 32px;
                margin-bottom: 32px;
            }
            .btn-close-modal {
                width: auto;
                min-width: 100px;
                max-width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--main-color);
                border-radius: 8px;
                padding: 0 8px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: -0.15px; // -1.25% của 12px
                color: #FFFFFF;
                border: 0;
                box-shadow: none;
                outline: none;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .pv-modal .modal-dialog {max-width: inherit; margin-left: 20px;  margin-right: 20px;}
}