.header-mobile {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 56px;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    .header-mobile-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: -0.225px; // -1.25% cá»§a 18px
        color: var(--black-color);
        z-index: 1001;
    }
    .btn-header-mobile {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        background-color: #fff;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}